html {font-size: 0.24rem;}
body{margin:0 auto;padding:0px;font-size: 0.24rem;font-family:STXihei;max-width:640px;position:relative}
ul,li{list-style:none}
.main{margin: 0 auto 0 auto;overflow:hidden;position:relative;max-width:640px;}
.showBox{margin:0.06rem;margin-top:0;}
.loadBtnBox{margin:0px;overflow:hidden;max-width:640px;}
.addShowBtnBox{overflow:hidden;background-color:rgba(255,255,255,.5);position:fixed;top:0px;left:0;padding:0.06rem; width:100%;z-index:999}
.showListBtnBox{overflow:hidden;width:100%;margin-top:-0.06rem;padding:0.06rem;}
.loadBtnBox .btn,.addShowBtnBox .btn,.sendShowBtnBox .btn{border:2px solid #000;display:block; margin:0;border-radius:10px;background:#f5d329;text-align:center;display:block;width:inherit; color:#000;font-size:0.19rem;font-weight:bold}


#showList{border-top:1px solid #999;border-bottom:1px solid #999;padding-bottom:0;margin-top:0.55rem;}
#showList ul{}
#showList ul li{border-radius:5px;height:3.6rem;width:100%;margin:0.06rem auto 0 auto;overflow:hidden;background-color:#333; background-size:cover;position:relative;}
#showList ul li .borderBox{display:block;height:3.6rem;background-color:rgba(0,36,81,0.15);overflow:hidden}
#showList ul li .borderBox .title{text-decoration:none;margin:1.3rem 0 0 0;text-align:center;font-size:0.30rem;font-family:CloudSongDaGBK;font-weight:normal;line-height:0.33rem;color:#fff;height:0.66rem;padding-left: 0.2rem;padding-right:0.2rem;overflow:hidden}
#showList ul li .borderBox .title span{text-shadow:0px 0px 0px #333;display:inline;text-decoration:none;color:#eee}
#showList ul li .borderBox:hover{text-decoration:none}
#showList ul li .userBox{position:absolute;background-color:rgba(0,0,0,0.4);width:100%;height:0.5rem;bottom:0.4rem;}
#showList ul li .userBox .avatarBox{display:block; background-size:cover;width:0.4rem;height:0.4rem;border:2px solid #fff;border-radius:200px;margin:0.05rem 0 0 0.17rem;float:left}
#showList ul li .userBox .nameBox{width:1rem;overflow:hidden;float:left;margin:0.05rem 0 0 0.1rem}
/*#showList ul li .userBox .nameBox .name{font-size:0.16rem;color:#fff;}*/
#showList ul li .userBox .nameBox .name{font-size:0.16rem;color:#fff;margin-top:0.1rem;font-weight:bold;text-indent:0.2rem}
#showList ul li .userBox .nameBox .time{font-size:0.12rem;color:#fff;}
#showList ul li .userBox .activeBtnBox{width:2rem;overflow:hidden;float:right;margin:0.18rem 0.1rem 0 0}
#showList ul li .userBox .activeBtnBox .heart{background-size:auto 100%;width:0.4rem;height:0.16rem;float:right;margin-right:0.1rem;background-image:url(fx-x-wxz.png);background-repeat:no-repeat;background-position:center left;text-indent:0.2rem;color:#fff;font-size:0.12rem;line-height:0.16rem;}
#showList ul li .userBox .activeBtnBox .comment{background-size:auto 100%;width:0.4rem;height:0.16rem;float:right;margin-right:0.1rem;background-image:url(fx-pl.png);background-repeat:no-repeat;background-position:center left;text-indent:0.2rem;color:#fff;font-size:0.12rem;line-height:0.16rem;}
#showList ul li .userBox .activeBtnBox .delete{background-size:auto 100%;width:0.6rem;height:0.16rem;float:right;margin-right:0.1rem;background-image:url(fx-sc.png);background-repeat:no-repeat;background-position:center left;text-indent:0.2rem;color:#fff;font-size:0.12rem;line-height:0.16rem;}


.showDetailBox > .userBox{padding-top:0.16rem;padding-left:0.24rem;overflow:hidden;padding-right:0.17rem;}
.showDetailBox > .userBox .avatarBox{display:block; background-size:cover;width:0.5rem;height:0.5rem;border:2px solid #fff;border-radius:200px;margin:0;float:left;box-shadow:0px 0px 3px #ccc}
.showDetailBox > .userBox .nameBox{width:1rem;overflow:hidden;float:left;margin:0.02rem 0 0 0.1rem}
.showDetailBox > .userBox .nameBox .name{font-size:0.18rem;color:#000;}
.showDetailBox > .userBox .nameBox .time{font-size:0.14rem;color:#000;}
.showDetailBox > .userBox .activeBtnBox{overflow:hidden;float:right;margin:0.1rem 0 0 0}
.showDetailBox > .userBox .activeBtnBox a{font-size:0.14rem;color:#666;display:block;border:1px solid #666;padding:0.03rem 0.083rem 0.03rem 0.083rem;border-radius:0.05rem;}
.showDetailBox > .title{font-size:0.18rem;font-weight:bold;margin:0.2rem 0 0 0.2rem}
.showDetailBox > .content{font-size:0.16rem;margin:0.01rem 0 0 0.2rem;padding-left:0.1rem;padding-right:0.25rem;}
.showDetailBox .activeBtnBox{overflow:hidden;margin:0.25rem 0 0 0.35rem}
.showDetailBox .activeBtnBox .heart{background-size:auto 100%;width:0.72rem;height:0.2rem;float:left;background-image:url(grxq-xh-wxz.png);background-repeat:no-repeat;background-position:center left;text-indent:0.25rem;color:#333;font-size:0.14rem;line-height:0.2rem;}
.showDetailBox .activeBtnBox .collect{background-size:auto 100%;width:0.8rem;height:0.2rem;float:left;background-image:url(grxq-sc-wxz.png);background-repeat:no-repeat;background-position:center left;text-indent:0.25rem;color:#333;font-size:0.14rem;line-height:0.2rem;}
.showDetailBox .activeBtnBox .click{background-size:auto 100%;width:0.8rem;height:0.2rem;float:left;background-image:url(grxq-yl.png);background-repeat:no-repeat;background-position:center left;text-indent:0.25rem;color:#333;font-size:0.14rem;line-height:0.2rem;}
.showDetailBox .activeBtnBox .comment{background-size:auto 100%;width:0.8rem;height:0.2rem;float:left;background-image:url(grxq-pl.png);background-repeat:no-repeat;background-position:center left;text-indent:0.25rem;color:#333;font-size:0.14rem;line-height:0.2rem;}
.showDetailBox .activeBtnBox .delete{background-size:auto 100%;width:0.8rem;height:0.2rem;float:left;background-image:url(grxq-sc.png);background-repeat:no-repeat;background-position:center left;text-indent:0.25rem;color:#333;font-size:0.14rem;line-height:0.2rem;}
.showDetailBox .rightTopAddBtn{background-size:auto 100%;width:0.4rem;height:0.4rem; background-image:url(grxq-bj.png);position:absolute;right:0.1rem;top:0.1rem;z-index:999}

.showDetailBox .commentList{margin:0.15rem;overflow:hidden;margin-bottom:0.3rem;}
.showDetailBox .commentList .userBox{padding-top:0.05rem;padding-left:0.08rem;overflow:hidden;padding-right:0.05rem;}
.showDetailBox .commentList .userBox .avatarBox{display:block; background-size:cover;width:0.3rem;height:0.3rem;border:2px solid #fff;border-radius:200px;margin:0;float:left;box-shadow:0px 0px 3px #ccc}
.showDetailBox .commentList .userBox .name{font-size:0.16rem;color:#000;float:left;width:auto;line-height:0.3rem;margin-left:0.1rem}
.showDetailBox .commentList .userBox .time{font-size:0.12rem;color:#000;float:right;width:auto;line-height:0.3rem;margin-right:0.05rem}
.showDetailBox .commentList .content{font-size:12px;padding-left:0.45rem;padding-bottom:0.05rem;padding-right:0.05rem;margin-bottom:0.03rem;overflow:hidden;}
.showDetailBox .commentList .content a{float:right;margin-right:0.05rem;color:#999}


.showDetailBox .addShowTooBox{max-width:640px;width:100%;position:fixed;bottom:0; border:2px solid #000;background:#f5d329;text-align:center;}
.showDetailBox .addShowTooBox button{line-height:0.35rem;background-color:none;background-image:url(fbjl.png);background-size:auto 0.35rem;background-position:left center;background-repeat:no-repeat;background-color:#f5d329;text-indent:0.4rem;outline:none; font-size:0.18rem;color:#fff}

.addShowBox{padding:0.1rem;overflow:hidden}
.addShowBox .loadBtnBox{position:fixed;bottom:0px;width:94%;padding:0;margin:0.1rem auto 0 auto }
.addShowBox .loadBtnBox .btn{color:#000;}
.addShowBox .describeBox{padding:0.1rem;padding-top:0}
.addShowBox .describeBox textarea{background:url(descline.gif) repeat-y;overflow:hidden; color:#000;line-height:35px;font-size:0.16rem;width:100%;max-width:100%;height:2.78rem}

.addShowBox .titleBox{padding:0.1rem;padding-top:0}
.addShowBox .titleBox input{background:url(descline.gif) repeat-y;color:#000;line-height:35px;font-size:0.16rem;width:100%;max-width:100%}
.addShowBox .topicBox{font-size:0.16rem;padding-left:0.05rem}

.addShowBox .addPictureBox{padding:0.1rem;}
.addShowBox .addPictureBox .addShowPicBtn{border:0.02rem solid #000;border-radius:0.1rem;width:0.7rem;height:0.7rem;background:#fff;color:#000;line-height:0.7rem;font-size:0.3rem}
.addShowBox .addPictureBox .picture div {width:0.7rem;height:0.7rem;border-radius:0.1rem;display:block;float:left;margin-right:0.1rem;margin-bottom:0.1rem;background-size: cover;background-repeat:no-repeat;background-position:center center}
.addShowBox .addPictureBox .picture div .real {width:100%;height:100%;display:block;border-radius:0.1rem;}
.addShowBox .addPictureBox .picture div .thumb {display:none;}
.addShowBox .pictureNumTip{font-size:0.14rem;text-indent:0.1rem;width:100%;float:left}

.sendShowBtnBox{overflow:hidden;background-color:rgba(255,255,255,.5);position:fixed;bottom:0px;left:0;padding:0.06rem; width:100%;z-index:999}

.imgDiv{position:relative;}
.deleteImgBtn{display:block;position:absolute;z-index:999;background:url(x.png) no-repeat center center;width:30px;height:30px;top:0px;right:0px;}

#experienceInfoDetail{background:#f5d329;overflow:hidden;}
#experienceInfoDetail .backgroundBox{overflow:hidden;margin:0.1rem;height:2.1rem;border:2px solid #000; background-size:cover;background-position:center center;}

#experienceInfoDetail .basicInfoBox{border:2px solid #000;margin:0.1rem;padding:0.2rem;background:#fff;border-radius:0.1rem;margin-top:0.45rem; overflow:hidden;text-align:center}
#experienceInfoDetail .basicInfoBox .avatar{text-align:center}
#experienceInfoDetail .basicInfoBox .avatar img{width:0.7rem;height:0.7rem;border-radius:200px;border:2px solid #000;margin-top:-0.55rem;position:absolute;margin-left:-0.35rem;}
#experienceInfoDetail .basicInfoBox .nameBox{color:#000;font-size:22px;font-weight:100;margin-top:0.3rem;border-bottom:1px dashed #000;}

#experienceInfoDetail .basicInfoBox .schoolBox{border-bottom:1px dashed #000;margin-bottom:0.1rem;padding-bottom:0.04rem}
#experienceInfoDetail .basicInfoBox .schoolBox .school{color:#000;font-size:18px;margin:0.05rem}
#experienceInfoDetail .basicInfoBox .schoolBox .grade{color:#333;font-size:14px;margin:0.05rem}
#experienceInfoDetail .basicInfoBox .schoolBox .specialty{color:#333;font-size:14px;margin:0.05rem}
#experienceInfoDetail .numBox{border:2px solid #000;margin:0.1rem;padding:0.2rem 0 0.1rem 0;text-align:center;border-radius:0.1rem}
#experienceInfoDetail .numBox .numContent{width:auto;margin:0px auto 0px auto;overflow:hidden;display:inline-block}

#experienceInfoDetail .numBox .num{width:auto;margin:0 0.05rem 0 0.05rem; float:left;font-weight:bold;font-size:0.16rem;}
#experienceInfoDetail .numBox .num .title{}
#experienceInfoDetail .numBox .num .number{text-align:center;font-size:0.2rem;color:#1e558b}
#experienceInfoDetail .numBox .hyxqBox .number{font-size:0.18rem;}
#experienceInfoDetail .numBox .zyqxBox .number{font-size:0.18rem;}

#experienceInfoDetail .recordsBox{}
#experienceInfoDetail .recordsBox .recordContent{display:inline-block;width:auto;overflow:hidden}
#experienceInfoDetail .recordsBox .line{background:#666;width:0.04rem; height:0.1rem;display:block;margin:0.05rem 0px 0px 0.52rem;}

#experienceInfoDetail .recordsBox .number{border:3px solid #666;border-radius:200px;width:0.45rem;height:0.45rem;text-align:center;line-height:0.44rem; color:#1e558b;font-weight:bold; margin:0.03rem 0px 0px 0.29rem;display:block;float:left}
#experienceInfoDetail .recordsBox .title{padding:0.13rem 0px 0px 10px;display:block;overflow:hidden;text-align:left;font-size:0.14rem}
#experienceInfoDetail .recordsBox .title .tag{background:#f5d329;color:#000;border:1px solid #000; padding:0.03rem 0.04rem 0.03rem 0.04rem;display:inline-block;border-radius:0.05rem;font-size:0.12rem;margin-right:0.03rem;margin-top:0.03rem}
#experienceInfoDetail .recordsBox .tagTitle{padding-top:0px;}

#experienceInfoDetail .titleBox{margin:0.1rem 0.1rem 0px 0.1rem;font-size:0.16rem;color:#000;line-height:0.35rem; overflow:hidden;text-indent:0.1rem;background:#f5d329;border:2px solid #000;border-radius:0.1rem 0.1rem 0 0}
#experienceInfoDetail .commentBox{border:2px solid #000;border-top:0px; background:#fff;border-radius:0 0 0.1rem 0.1rem;margin:0 0.1rem 0 0.1rem;padding:10px 0px 10px 0px;}
#experienceInfoDetail .commentBox .item{padding:0px 0.1rem 0px 0.1rem; overflow:hidden}
#experienceInfoDetail .commentBox .item .avatar{width:0.4rem;height:0.4rem;overflow:hidden;float:left}
#experienceInfoDetail .commentBox .item .avatar img{width:0.4rem;height:0.4rem; border-radius:200px;}
#experienceInfoDetail .commentBox .item .name{float:left;font-size:0.16rem;font-weight:bold;line-height:0.4rem;margin-left:0.05rem;}
#experienceInfoDetail .commentBox .item .company{float:left;font-size:0.12rem;font-weight:normal;line-height:0.45rem;margin-left:0.01rem;}
#experienceInfoDetail .commentBox .item .time{float:right;font-size:0.12rem;font-weight:normal;color:#ccc; line-height:0.45rem;margin-left:0.01rem;}
#experienceInfoDetail .commentBox .item .ico{float:right;}
#experienceInfoDetail .commentBox .item .ico img{height:0.25rem;margin-top:0.07rem;margin-left:0.05rem}

#experienceInfoDetail .commentBox .item .comment{background:#f9f9f9;padding:0.05rem;color:#666;font-size:0.14rem}
#experienceInfoDetail .commentBox .item .triangle-up{margin-left:0.1rem;}
#experienceInfoDetail .commentBox .item .projectName{width:auto;float:left;color:#000;text-indent:0.05rem;line-height:0.35rem;font-size:0.14rem}
#experienceInfoDetail .commentBox .item .showDetail{width:auto;float:right;color:#FFA130;line-height:0.35rem;cursor:pointer;font-size:0.14rem}
#experienceInfoDetail .commentBox .item .showDetail:hover{color:#f56334}
#experienceInfoDetail .commentBox .item .question{text-indent:0.05rem;margin-top:0.05rem;margin-bottom:0.05rem;}
#experienceInfoDetail .commentBox .item .question img{width:0.2rem;margin-right:0.03rem}
#experienceInfoDetail .commentBox .item .tagItem{width:100%;overflow:hidden;margin-bottom:0.05rem;}
#experienceInfoDetail .commentBox .item .tagItem img{width:0.25rem;margin-right:0.03rem;}
#experienceInfoDetail .commentBox .item .tagItem .tagName{width:auto;float:right;font-weight:normal;color:#000;border-right:1px solid #ccc;padding-right:0.1rem;margin-right:0.1rem;margin-top:4px; line-height:0.2rem}
#experienceInfoDetail .commentBox .item .tagItem .tagImg{width:auto;float:right;}
#experienceInfoDetail .commentBox .viewMore{width:100%;line-height:0.3rem;font-size:0.12rem;color:#999;text-align:center;cursor:pointer;}
#experienceInfoDetail .commentBox #moreBox{width:100%; overflow:hidden;display:none}
#experienceInfoDetail .item{width:100%;overflow:hidden}
#experienceInfoDetail .line{width:95%;margin:0.1rem auto 0.1rem auto;border-bottom:1px dashed #000}

#experienceInfoDetail .showTitle{border:2px solid #000;border-radius:0.1rem;background:#f5d329;line-height:0.35rem;text-indent:0.1rem;font-size:0.14rem;color:#000;margin:0.1rem}
#experienceInfoDetail .showBoxAtInfo{margin:0.1rem;margin-top:0;}

.triangle-up {margin-left:38px;width:0;height:0;border-left:9px solid transparent;border-right:9px solid transparent;border-bottom:9px solid #f9f9f9;}

#topicDetail{overflow:hidden}
#topicDetail .picture{width:100%;float:left}
#topicDetail .picture img{height:auto;width:100%;}
#topicDetail .topicInfo{padding:0.2rem;overflow:hidden}
#topicDetail .titleBox{width:60%;float:left}
#topicDetail .titleBox .title{font-size:0.18rem;font-weight:bold}
#topicDetail .titleBox .time{font-size:0.14rem;line-height:0.3rem}
#topicDetail .topicInfo .activeBtnBox{width:100%;text-align:right;text-align:center;overflow:hidden;padding-top:0.2rem}
#topicDetail .topicInfo .activeBtnBox .btn{border:2px solid #000;display:inline-block;width:1.6rem;padding-top:0.05rem;padding-bottom:0.05rem; margin:0;border-radius:10px;background:#f5d329;text-align:center; color:#000;font-size:0.16rem;font-weight:bold}
#topicDetail .content{width:100%;float:left;font-size:0.14rem}
#topicDetail .showTitle{text-align:center;font-size:0.14rem;background:url(title_line.jpg) no-repeat right center;width:90%;margin:0 auto}
#topicDetail .showTitle span{display:inline-block;background:#fff;padding:0 0.05rem 0 0.05rem}
#topicDetail .showBoxAtInfo{margin:0.1rem;}
#topicDetail .showBoxAtInfo #showList{border:0px;margin-top:0px;}

.validateBtn,.validateBtnForPwd{position:absolute;margin-top:-0.33rem;width:auto;height:auto;background:#fff;color:#000; right:0.5rem;font-size:0.12rem;padding:0.02rem 0.05rem 0.02rem 0.05rem;border:2px solid #000}

#avatarForm .avatarBox{margin:0 auto 0.1rem auto;background-color:#fff;background-size:cover; border:2px solid #000;width:0.98rem;height:0.98rem;text-align:center;color:#000;font-size:0.16rem;line-height:0.98rem;border-radius:200px;overflow:hidden}
#avatarForm .avatarBox img{width:100%;height:100%;}

.fade{background:none}
.modal-header{border-bottom:2px solid #000;margin-bottom:0}
.modal-dialog{margin:0.06rem}
.modal-content{background:rgba(245,211,41,0.95);border:2px solid #000;box-shadow:0px 0px 0px;border-radius:20px;overflow:hidden}
.modal-footer{border:0;text-align:center}
.modal-body{padding-top:0.2rem;padding-left:0.5rem;padding-right:0.5rem;padding-bottom:0rem}
.modal-body input{border-bottom:2px dashed #000;background:no-repeat;text-align:center;color:#fff;font-size:0.16rem;width:100%;margin-bottom:0rem;font-weight:normal;outline:none;padding-bottom:0.1rem;}
.modal-footer .btn{display:inline-block;width:60%;margin:0px;margin-bottom:0.07rem;background:#fff;border:2px solid #000;color:#000;font-size:0.2rem;font-weight:bold}
.modal-footer .loginBtn{background:#eee}
.commentModal .modal-content{background:#fff;}
.commentModal .modal-header{border-bottom:2px solid #000;color:#000;font-weight:bold;background:rgba(245,211,41,0.9);padding-top:0.1rem;padding-bottom:0.1rem;}
.commentModal .modal-body{padding-top:0.2rem;background-color:#fff}
.modal-header h4,.modal-header .close{color:#000;font-weight:bold;filter: alpha(opacity=100);opacity: 1;}
.commentModal .modal-footer .btn{display:inline-block;width:50%;margin:0px;margin-bottom:0.07rem;background:rgba(245,211,41,0.9);border:2px solid #000;color:#000;font-size:0.2rem;border-radius:0.1rem;font-weight:bold}
.commentModal .modal-body{padding:0.2rem 0.1rem 0 0.1rem;margin:0;}
.commentModal .modal-body textarea{color:#000;text-align:left;border:0;font-size:0.16rem;width:100%;overflow:hidden;background:url(descline.gif) repeat-y;line-height:35px;height:105px}

#pictureUploadModal .modal-body{font-size:0.14rem;color:#666;}

.lostPwd{font-size:0.14rem;text-align:right;color:#fff}
.lostPwd a{color:#fff}

.modal input::-webkit-input-placeholder {color: #fff !important; /* WebKit browsers */}
.modal input:-moz-placeholder {color: #fff !important; /* Mozilla Firefox 4 to 18 */}
.modal input::-moz-placeholder {color: #fff !important; /* Mozilla Firefox 19+ */}
.modal input:-ms-input-placeholder {color: #fff !important; /* Internet Explorer 10+ */}

.commentModal input::-webkit-input-placeholder {color: #999 !important; /* WebKit browsers */}
.commentModal input:-moz-placeholder {color: #999 !important; /* Mozilla Firefox 4 to 18 */}
.commentModal input::-moz-placeholder {color: #999 !important; /* Mozilla Firefox 19+ */}
.commentModal input:-ms-input-placeholder {color: #999 !important; /* Internet Explorer 10+ */}

input,textarea,button{outline:none;}
form{margin:0;padding:0}
.errorMsg{width:100%;height:100%;position:absolute;left:0px;top:0px;}
.errorMsg .msg-body{max-width:98%;text-align:center;display:block;border:1px solid #e91e1e;border-radius:1000px;padding:0.05rem 0.1rem 0.05rem 0.1rem;width: auto;position: fixed;z-index: 9999;background:rgba(248,6,6,0.9);color: #fff;left:0;top:0;box-shadow:0px 0px 6px #999;font-size:0.12rem;font-family:'Microsoft YaHei'}
.successMsg{width:100%;height:100%;position:absolute;left:0px;top:0px;}
.successMsg .msg-body{max-width:98%;text-align:center;display:block;border:1px solid #74bc01;border-radius:1000px;padding:0.05rem 0.1rem 0.05rem 0.1rem;width: auto;position: fixed;z-index: 9999;background:rgba(116,185,8,0.9);color: #fff;left:0;top:0;box-shadow:0px 0px 6px #999;font-size:0.12rem;font-family:'Microsoft YaHei'}

